body {
  margin: 0;
  font-family: 'Merienda', cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Merienda', cursive, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
